{% extends "layout.html" %}

{% block content %}

<section class="hbox">
  <aside class="aside-lg hide"></aside>
  <section>
    <div class="container">
      <div class="panel no-borders">
        <div class="panel-body">
          <div class="db-list text-center">
            <ul>

              <li>
                <a href="{{ url_for('networks') }}">
                  <div class="db-icon">
                    <i class="vh vh-report" aria-hidden="true"></i>
                  </div>
                  <div class="db-icon-name">گزارش هوشمند شبکه</div>
                </a>
              </li>

              <li>
                <a href="{{ url_for('zones') }}">
                  <div class="db-icon">
                    <i class="vh vh-search" aria-hidden="true"></i>
                  </div>
                  <div class="db-icon-name">گزارش نقشه مناطق</div>
                </a>
              </li>

              <li>
                <a href="{{ url_for('report') }}">
                  <div class="db-icon">
                    <i class="vh vh-contract-type" aria-hidden="true"></i>
                  </div>
                  <div class="db-icon-name">گزارش نشتی</div>
                </a>
              </li>

              <li>
                <a href="{{ url_for('administrator') }}">
                  <div class="db-icon">
                    <i class="vh vh-manage-portal" aria-hidden="true"></i>
                  </div>
                  <div class="db-icon-name">مدیریت سامانه</div>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </section>
</section>

{% endblock %}