{% extends "layout.html" %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">تقاضای مورد انتظار در شبکه</h4>
                </div>
                <div class="card-body">
                    <div style="margin-left: 30%;">
                        <img
                            src="{{ url_for('static', filename='images/plot_network/expected_demand/{}.png'.format(file_name)) }}">
                    </div>
                </div>
            </div>

            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">متوسط ​​تقاضای مورد انتظار در شبکه آبرسانی</h4>
                </div>
                <div class="card-body">
                    <div style="margin-left: 30%;">
                        <img
                            src="{{ url_for('static', filename='images/plot_network/average_expected_demand/{}.png'.format(file_name)) }}">
                    </div>
                </div>
            </div>

            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">منحنی شکنندگی طرح</h4>
                </div>
                <div class="card-body">
                    <div style="margin-left: 30%;">
                        <img
                            src="{{ url_for('static', filename='images/plot_network/plot_fragility_curve/{}.png'.format(file_name)) }}">
                    </div>
                </div>
            </div>

            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">پیوند بخش ها</h4>
                </div>
                <div class="card-body">
                    <div style="margin-left: 30%;">
                        <img
                            src="{{ url_for('static', filename='images/plot_network/link_segments/{}.png'.format(file_name)) }}">
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock %}