{% extends "layout.html" %}

{% block content %}

<section class="hbox">
    <aside class="aside-lg hide"></aside>
    <section>
        <div class="container">
            <div class="panel no-borders">
                <div class="panel-body">
                    <div class="db-list text-center">
                        <ul>
                            <li>
                                <img
                                    src="{{ url_for('static', filename='images/plot_network/expected_demand/{}.png'.format(file_name)) }}">
                            </li>
                            <li>
                                <img
                                    src="{{ url_for('static', filename='images/plot_network/average_expected_demand/{}.png'.format(file_name)) }}">
                            </li>
                            <li>
                                <img
                                    src="{{ url_for('static', filename='images/plot_network/plot_fragility_curve/{}.png'.format(file_name)) }}">
                            </li>
                            <li>
                                <img
                                    src="{{ url_for('static', filename='images/plot_network/link_segments/{}.png'.format(file_name)) }}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}